* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    font-family: 'Ubuntu', sans-serif;
    background-color: #333;
}

.box{
    padding: 80px 140px;
    border-radius: 15px;
    background-color: rgb(22, 31, 31);
    box-shadow: 0 0 15px rgb(81, 108, 244);
}

.link{
    position: relative;
    font-size: 48px;
    padding: 10px 20px;
    color:rgb(37, 68, 228);
    text-decoration: none;
}

.link:hover{
    cursor: pointer;
}

.link, .link::after, .link::before{
    transition: 0.3s;
}

.one::after{
    content: '';
    position: absolute;
    bottom: 0;
    left:0;
    height: 3px;
    width: 100%;
    background-color: white;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s;
}

.one:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}

.two::before, .two::after{
    content: '';
    width: 0;
    height: 0;
    position: absolute;
}

.two::before{
    border-top: 0 solid white;
    border-left: 0 solid white;
    top:0;
    left:0;
}

.two::after{
    right:0;
    bottom:0;
    border-right: 0 solid white;
    border-bottom: 0 solid white;
}

.two:hover::before{
    border-top: 3px solid white;
    border-left: 3px solid white;
    width: 35px;
    height: 35px;
}

.two:hover:after{
    border-right: 3px solid white;
    border-bottom: 3px solid white;
    width: 35px;
    height: 35px;
}

.three::before, .three::after{
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    border-bottom: 3px solid white;
}

.three::before{
    left:50%;
}

.three::after{
    right:50%;
}

.three:hover::before, .three:hover::after{
    width:50%
}

.four{
    z-index: 1;
}

.four::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0;
    width: 100%;
    background-color: white;
    z-index: -1;
}

.four:hover::before{
    height: 100%;
}

.five{
    z-index: 1;
}

.five::before, .five::after{
    content: '';
    position: absolute;
    top:0;
    bottom: 0;
    width: 0;
    background-color: white;
    z-index: -1;
}

.five:hover::before, 
.five:hover::after{
animation: move 0.5s 0.2s forwards;
}

.five::before{
    left:0;
}

.five::after{
    right:0;
}

@keyframes move{
    from{
        width:0;
    }
    to{
        width:50%;
    }
}

